body{
  font-family: fantasy;
  margin: 0;
}
  
/* SETING UP NAVBAR */
/**/
#navbar{
  background-color: rgb(134, 0, 0);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
  
#nav_elements{
  margin-left: auto;
}
  
ul#navbar > li{
  padding: 15px;
}

ul#navbar > li > a{
  color: orange;
  font-size: 20px;
  text-decoration: none;
}


/* SETING UP Parallax */
#bannar{
    background-image: url("https://vignette.wikia.nocookie.net/avatar/images/b/b7/Avatar_World_map.png/revision/latest?cb=20131005142135");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#caption{
    background-color: rgba(134, 0, 0,0.6);
    width: 40%;
    padding: 30px;
    text-align: center;
}
#border{
    color: orange;
    font-size: 1.75em
}

/* SETTING UP ELEMENT CARDS */
#elements{
  height: 100vh;
  background-color: #e8e9e8;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.element-cards-row{
  height: 80vh;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center
}

.element-cards-in-row{
  background-color: #cccdc6;
  height: 95%;
  width: 22%
}

#water{
  background-image: url("https://vignette.wikia.nocookie.net/avatar/images/5/50/Waterbending_emblem.png/revision/latest?cb=20130729182922");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

#earth{
  background-image: url("https://vignette.wikia.nocookie.net/avatar/images/e/e4/Earthbending_emblem.png/revision/latest?cb=20130729200732");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

#fire{
  background-image: url("https://vignette.wikia.nocookie.net/avatar/images/4/4b/Firebending_emblem.png/revision/latest?cb=20130729203233");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

#air{
  background-image: url("https://vignette.wikia.nocookie.net/avatar/images/8/82/Airbending_emblem.png/revision/latest/scale-to-width-down/340?cb=20130729210446");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.element-content{
  padding-top: 40vh;
  margin: 15px;
  text-align: center;
  font-size: 1.2em;
}

/* SETTING UP CHARACTERS */
.char-row{
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
#katara-row, #toph-row{ flex-direction: row-reverse;}

.char-img, .char-info{
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.char-info{  font-size: 1.75em;}

/* SETTING UP CHARACTERS PICS */
.char-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#aang-pic{
  background-image: url("https://i.pinimg.com/originals/3a/ed/1c/3aed1c48c5d93fd055196cdf9c6f992a.png");
}

#katara-pic{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/f/fb/Katara.png");
}

#sokka-pic{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/c/cc/Sokka.png");
}

#toph-pic{
  background-image: url("https://nick-intl.mtvnimages.com/uri/mgid:file:gsp:kids-assets:/nick/properties/avatar/characters/toph-character-web-desktop.png?height=0&width=480&matte=true&crop=false");
  background-size: cover;
}

#zuko-pic{
  background-image: url("https://vignette.wikia.nocookie.net/villains/images/2/23/Principe_zuko_by_yuzumi2000-d6lbrj4.png/revision/latest?cb=20170611234341")
}

/* SETTING UP CHARACTERS ROW */
#aang-row{ background-image: linear-gradient(to right, rgba(255,179,70,0.65), rgba(255,179,70,1)); }
#katara-row{ background-image: linear-gradient(to left, rgba(144, 185, 204, 0.75), rgba(144, 185, 204, 1)); }
#sokka-row{ background-image: linear-gradient(to right, rgba(119, 158, 204, 0.75), rgba(119, 158, 204, 1)); }
#toph-row{ background-image: linear-gradient(to left, rgba(82, 167, 54, 0.75), rgba(82, 167, 54, 1)); }
#zuko-row{ background-image: linear-gradient(to right, rgba(130, 0, 1, 0.75), rgba(130, 0, 1, 0.9)); }




/* SETTING UP SUBSCRIPTION FORM */
#subscription_form{
  background-image: url("https://coverfiles.alphacoders.com/494/49479.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 63.8vh;
  margin: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
}

#form-caption{
  background-color: rgba(134, 0, 0,0.6);
  padding: 30px
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
